body {
  padding-top:70px;
}

#sm-logo{
  height:50px;
  width:50px;
  margin-top:-15px;
}

#navbar-custom {
  background-color: #f1f1f1;
}

.noborder {
  border-style:none;
}
.post-content{
  background:none repeat scroll 0 0 #FFffff;
  opacity:0.7;
  margin:0 auto;
  margin-top:-90px;
  text-align:center;
  position:relative;
  width:50%;
  border-radius:30px;
}

.thumbnail {
  margin:0 auto;
  text-align: center;
  height:500px;
  width:500px;

}

.wrapper {
  text-align:center;
}

.strongsubheader {
  color:#000;
  font-weight:bolder;
  opacity:1.0;
  text-align:left;
  width:auto;
}

@media only screen and (min-width : 481px) {
    .flex-row {
        display: flex;
        flex-wrap: wrap;
    }
    .flex-row > [class*='col-'] {
        display: flex;
        flex-direction: column;
    }
    .flex-row.row:after,
    .flex-row.row:before {
        display: flex;
    }
    .flex-row .thumbnail,
    .flex-row .caption {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    }
    .flex-text {
    flex-grow: 1;
    }
    .flex-row img {
    width: 100%;
}
}
